- if current_page.data.html_lang
  - localvar_html_lang = current_page.data.html_lang
- else 
  - localvar_html_lang = "ja"
!!! 5
%html{lang: localvar_html_lang}
  %head
    = partial "includes/layout/head"
    = stylesheet_link_tag "handbook"
    = stylesheet_link_tag "navigation-helpers"
  %body{data: {spy: "scroll", target: ".qnav"}}
    = partial "includes/google/gtm"
    = partial "includes/layout/header"
    = partial "includes/layout/headline"
    = partial "includes/highlight_tooltip_body"
    .wrapper.sidebar-layout-wrapper.clearfix
      %aside.tocs-sidebar
        = partial "includes/layout/codeowners.html.haml"
        = partial "includes/layout/edit_page.html.haml"
      .container.md-page{ class: (current_page.data.page_class if current_page.data.page_class) }
        %ol.breadcrumb
          %li.meta-signage-header 現在の場所:
          = breadcrumbs(current_page)
        = partial "includes/layout/handbook_search.html.haml"
        .hidden-md.hidden-lg
          = partial "includes/layout/codeowners.html.haml"
        = yield
    = partial "includes/layout/footer"
    = javascript_include_tag "generate-navigation-helpers.js"
